<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<context:annotation-config />
	
	
	<bean id="cryptoData" class="br.unb.cic.sa.model.CSVData">
		<property name="outDir" value="output"/>
		<property name="fileName" value="crypto"/>
		<property name="head" value="project, file, api, detail"/> 
	</bean>

	<bean id="importData" class="br.unb.cic.sa.model.CSVData">
		<property name="outDir" value="output"/>
		<property name="fileName" value="importData"/>
		<property name="head" value="project, file, importDeclaration"/> 
	</bean>	
	
		
	<bean id="cryptoVisitor" class="br.unb.cic.sa.visitors.CryptographicAPIVisitor">
		<property name="collectedData" ref="cryptoData"/>
	</bean>
	
	 <bean id="importVisitor" class="br.unb.cic.sa.visitors.ImportDeclarationVisitor">
		<property name="collectedData" ref="importData"/>
	</bean>
 
		

	<bean id="pa" class="br.unb.cic.sa.ProjectAnalyser">
		<property name="basePath" value="/Users/rbonifacio/Documents/papers/splc2019/projects/msr-java/" />
		<property name="listVisitors">
			<list>
   				<ref bean="importVisitor"/>  
			</list>
		</property>
	</bean>

</beans>
