<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<context:annotation-config />
	
	<bean id="aicData" class="br.unb.cic.sa.model.CSVData">
		<property name="outDir" value="output"/>
		<property name="fileName" value="aic"/>
		<property name="head" value="project, version, loc, file, start, end, p1, p2, p3, p4"/> 
	</bean>

	<bean id="tryStatementData" class="br.unb.cic.sa.model.CSVData">
		<property name="outDir" value="output"/>
		<property name="fileName" value="tryStatement"/>
		<property name="head" value="project, version, loc, file, start, end, resource, multiCatch"/> 
	</bean>
	
	<bean id="enumDeclarationData" class="br.unb.cic.sa.model.CSVData">
		<property name="outDir" value="output"/>
		<property name="fileName" value="enumDeclaration"/>
		<property name="head" value="project, version, loc, file, start, end"/> 
	</bean>
	
	<!-- 
	<bean id="tsVisitor" class="br.unb.cic.sa.visitors.TryStatementVisitor"/>
	<bean id="mdVisitor" class="br.unb.cic.sa.visitors.MethodDeclarationVisitor"/>
	<bean id="typeVisitor" class="br.unb.cic.sa.visitors.TypeDeclarationVisitor"/>
	<bean id="swVisitor" class="br.unb.cic.sa.visitors.SwitchStatementVisitor"/>
	<bean id="enVisitor" class="br.unb.cic.sa.visitors.EnumDeclarationVisitor"/>
	<bean id="scVisitor" class="br.unb.cic.sa.visitors.ScriptingVisitor"/>
	<bean id="opportunitiesSwichStringVisitor" class="br.unb.cic.sa.visitors.OpportunitiesSwitchStringVisitor"/>
	<bean id="opportunitiesLambdaExpVisitor" class="br.unb.cic.sa.visitors.OpportunitiesLambdaExpVisitor"/>
	<bean id="varVisitor" class="br.unb.cic.sa.visitors.VariableDeclarationVisitor"/>
	-->
	
	<bean id="aicVisitor" class="br.unb.cic.sa.visitors.AICVisitor">
		<property name="collectedData" ref="aicData"/>
	</bean>
	
	<bean id="tryStatementVisitor" class="br.unb.cic.sa.visitors.TryStatementVisitor">
		<property name="collectedData" ref="tryStatementData"/>
	</bean>
	
	<bean id="enumDeclarationVisitor" class="br.unb.cic.sa.visitors.EnumDeclarationVisitor">
		<property name="collectedData" ref="enumDeclarationData"/>
	</bean>
	
	<bean id="pa" class="br.unb.cic.sa.ProjectAnalyser">
		<property name="listVisitors">
			<list>
<!-- 			<ref bean="opportunitiesLambdaExpVisitor"/> 
				<ref bean="opportunitiesSwichStringVisitor"/> 
				<ref bean="tsVisitor"/>
				<ref bean="mdVisitor"/>
				<ref bean="typeVisitor"/>
				<ref bean="swVisitor"/>
				<ref bean="enVisitor"/>
				<ref bean="scVisitor"/>
				<ref bean="varVisitor"/>
 		        <ref bean="lambdaVisitor"/>
 -->	
 				<ref bean="aicVisitor"/>
				<ref bean="tryStatementVisitor"/>
				<ref bean="enumDeclarationVisitor"/>
			</list>
		</property>
	</bean>

</beans>